[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "hypdl"
description = "A framework for creating hyperbolic deep neural networks in PyTorch"
version = "0.0.1"
dependencies = [
    "torch",
]

[project.optional-dependencies]
dev = [
    "black",
    "isort",
]

[tool.black]
line-length = 100

[tool.isort]
profile = "black"

[tool.setuptools.packages.find]
include = ["hypdl*"]